# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ project files
*.iml
.idea/

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
.crashlytics_data

# Misc
.DS_Store
tmp
.checkstyle
