# Eclipse
.project
.classpath
.settings
.checkstyle

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

# Gradle
.gradle
build

# Maven
target
release.properties
pom.xml.*

# Ant
bin
gen
build.xml
ant.properties
local.properties
proguard-project.txt

#Crashlytics
.crashlytics_data
com_crashlytics_export_strings.xml

# Other
out/
.DS_Store
tmp
